spring:
  application:
    name: transaction-sink-application
  cloud:
    function:
      definition: cashCardTransactionFileSink
    stream:
      bindings:
        cashCardTransactionFileSink-in-0:
          destination: enriched-transactions
          group: sink-consumer
      kafka:
        binder:
          brokers: localhost:9092
