services:
  broker:
    image: confluentinc/cp-kafka:7.5.0
    hostname: broker
    container_name: broker
    healthcheck:
      test: ["CMD", "bash", "-c", "exec 3<> /dev/tcp/broker/9092"]
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 30s
    ports:
      - '9092:9092'
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker:9092'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:9093'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
  source:
    depends_on:
      - broker
    image: cashcard-transaction-source:0.0.1-SNAPSHOT
    ports:
      - "8080:8080"
    hostname: source
    container_name: source
    environment:
      - SPRING_PROFILES_ACTIVE=docker
  enricher:
    depends_on:
      - broker
      - source
    image: cashcard-transaction-enricher:0.0.1-SNAPSHOT
    ports:
      - "8081:8080"
    hostname: enricher
    container_name: enricher
    environment:
      - SPRING_PROFILES_ACTIVE=docker
  sink:
    depends_on:
      - broker
      - enricher
    image: cashcard-transaction-sink:0.0.1-SNAPSHOT
    ports:
      - "8082:8080"
    hostname: sink
    container_name: sink
    environment:
      - SPRING_PROFILES_ACTIVE=docker