management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
spring:
  main:
    allow-bean-definition-overriding: true
    web-application-type: reactive
  application:
    name: transaction-source-application
  cloud:
    stream:
      bindings:
        approvalRequest-out-0:
          destination: approval-requests
      kafka:
        binder:
          brokers: localhost:9092
