management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
spring:
  application:
    name: transaction-enricher-application
  cloud:
    function:
      definition: enrichTransaction
    stream:
      bindings:
        enrichTransaction-in-0:
          destination: approval-requests
          group: enrich-consumer
        enrichTransaction-out-0:
          destination: enriched-transactions
      kafka:
        binder:
          brokers: localhost:9092
